In [1]:
import pandas as pd
df=pd.read_csv('subway.csv')
df.head()

,index,name,url,street_address,city,state,zip_code,country,phone_number_1,phone_number_2,...,email_2,website,open_hours,latitude,longitude,facebook,twitter,instagram,pinterest,youtube
0,0,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"1800 Duke St, Ste 100",Alexandria,VA,22314,USA,NaN,NaN,...,NaN,NaN,"Monday 7:00 AM - 7:00 PM, Tuesday 7:00 AM - 7:...",38.8043,-77.0611,NaN,NaN,NaN,NaN,NaN
1,1,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"1512 King St,",Alexandria,VA,22301,USA,NaN,NaN,...,NaN,NaN,"Sunday 9:00 AM - 8:00 PM, Monday 7:00 AM - 9:0...",38.8062,-77.0565,NaN,NaN,NaN,NaN,NaN
2,2,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"2361 Eisenhower Ave,",Alexandria,VA,22314,USA,NaN,NaN,...,NaN,NaN,"Sunday 9:00 AM - 8:30 PM, Monday 6:30 AM - 9:0...",38.8012,-77.0691,NaN,NaN,NaN,NaN,NaN
3,3,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"320 King Street, 1st Floor",Alexandria,VA,22314,USA,NaN,NaN,...,NaN,NaN,"Sunday 9:00 AM - 8:00 PM, Monday 7:00 AM - 9:0...",38.8045,-77.0433,NaN,NaN,NaN,NaN,NaN
4,4,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"5836 N. Kings Hwy, Suite A, Huntington Station",Alexandria,VA,22303,USA,NaN,NaN,...,NaN,NaN,"Sunday 9:00 AM - 9:00 PM, Monday 7:00 AM - 10:...",38.7903,-77.0769,NaN,NaN,NaN,NaN,NaN

In [8]:
round(100.0*df.isna().sum()/len(df),2)

index               0.00
name                0.00
url                 5.94
street_address      0.00
city                0.00
state               0.00
zip_code            0.00
country             0.00
phone_number_1    100.00
phone_number_2    100.00
fax_1             100.00
fax_2             100.00
email_1           100.00
email_2           100.00
website           100.00
open_hours          0.54
latitude            0.00
longitude           0.00
facebook          100.00
twitter           100.00
instagram         100.00
pinterest         100.00
youtube           100.00
dtype: float64

In [19]:
#Keep only the columns with atleast thresh non null values
#Drop columns which have more than thresh non null values
df.dropna(axis='columns',thresh=df.shape[0]/2)

,index,name,url,street_address,city,state,zip_code,country,open_hours,latitude,longitude
0,0,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"1800 Duke St, Ste 100",Alexandria,VA,22314,USA,"Monday 7:00 AM - 7:00 PM, Tuesday 7:00 AM - 7:...",38.8043,-77.0611
1,1,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"1512 King St,",Alexandria,VA,22301,USA,"Sunday 9:00 AM - 8:00 PM, Monday 7:00 AM - 9:0...",38.8062,-77.0565
2,2,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"2361 Eisenhower Ave,",Alexandria,VA,22314,USA,"Sunday 9:00 AM - 8:30 PM, Monday 6:30 AM - 9:0...",38.8012,-77.0691
3,3,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"320 King Street, 1st Floor",Alexandria,VA,22314,USA,"Sunday 9:00 AM - 8:00 PM, Monday 7:00 AM - 9:0...",38.8045,-77.0433
4,4,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"5836 N. Kings Hwy, Suite A, Huntington Station",Alexandria,VA,22303,USA,"Sunday 9:00 AM - 9:00 PM, Monday 7:00 AM - 10:...",38.7903,-77.0769
...,...,...,...,...,...,...,...,...,...,...,...
25528,25528,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"300 110th Ave NE, Unit B1-03, Abella Condominium",Bellevue,WA,98004,USA,"Sunday 9:00 AM - 6:00 PM, Monday 8:00 AM - 10:...",47.6139,-122.1932
25529,25529,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"10615 NE 68th Street, Houghton Shopping Center",Kirkland,WA,98033,USA,"Sunday 9:00 AM - 9:00 PM, Monday 9:00 AM - 9:0...",47.6660,-122.1979
25530,25530,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"255 Central Way, Market On Central",Kirkland,WA,98033,USA,"Sunday 9:00 AM - 9:00 PM, Monday 7:00 AM - 10:...",47.6768,-122.2042
25531,25531,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"1220 Howell St, 1st Floor, Metropolitan Park N...",Seattle,WA,98101,USA,"Sunday 9:00 AM - 8:00 PM, Monday 7:00 AM - 10:...",47.6169,-122.3306
25532,25532,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"490 North Forks Ave, Bill's Convenience Store",Forks,WA,98331,USA,"Sunday 7:00 AM - 9:00 PM, Monday 6:00 AM - 9:3...",47.9567,-124.3877

In [25]:
df.dropna(thresh=12)

Empty DataFrame
Columns: [index, name, url, street_address, city, state, zip_code, country, phone_number_1, phone_number_2, fax_1, fax_2, email_1, email_2, website, open_hours, latitude, longitude, facebook, twitter, instagram, pinterest, youtube]
Index: []

[0 rows x 23 columns]

In [26]:
df.mean()

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

index             12766.000000
phone_number_1             NaN
phone_number_2             NaN
fax_1                      NaN
fax_2                      NaN
email_1                    NaN
email_2                    NaN
website                    NaN
latitude             37.347921
longitude           -92.139107
facebook                   NaN
twitter                    NaN
instagram                  NaN
pinterest                  NaN
youtube                    NaN
dtype: float64

In [27]:
df.shape

(25533, 23)

In [29]:
df.median()

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

index             12766.0000
phone_number_1           NaN
phone_number_2           NaN
fax_1                    NaN
fax_2                    NaN
email_1                  NaN
email_2                  NaN
website                  NaN
latitude             38.1444
longitude           -87.7554
facebook                 NaN
twitter                  NaN
instagram                NaN
pinterest                NaN
youtube                  NaN
dtype: float64

In [43]:
df.mode()['city'][0]

'Houston'

In [39]:
df.city.unique()

array(['Alexandria', 'Washington', 'Arlington', ..., 'Silverdale',
       'Bainbridge Island', 'Forks'], dtype=object)

In [41]:
df['city'].value_counts()

Houston         232
Chicago         168
San Antonio     134
Los Angeles     129
Las Vegas       123
               ...
Onsted            1
Horton            1
Spring Arbor      1
Morenci           1
Forks             1
Name: city, Length: 7286, dtype: int64

In [ ]:
#!Balnks, NULL, NA instead of NaN

In [60]:
df['open_hours'].fillna(df.mode()['open_hours'],inplace=True)

In [62]:
df['open_hours'].mode()
# df[df['open_hours'].isnull()]

0    Sunday 9:00 AM - 10:00 PM, Monday 7:00 AM - 10...
dtype: object

In [63]:
df.head()

,index,name,url,street_address,city,state,zip_code,country,phone_number_1,phone_number_2,...,email_2,website,open_hours,latitude,longitude,facebook,twitter,instagram,pinterest,youtube
0,0,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"1800 Duke St, Ste 100",Alexandria,VA,22314,USA,NaN,NaN,...,NaN,NaN,"Monday 7:00 AM - 7:00 PM, Tuesday 7:00 AM - 7:...",38.8043,-77.0611,NaN,NaN,NaN,NaN,NaN
1,1,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"1512 King St,",Alexandria,VA,22301,USA,NaN,NaN,...,NaN,NaN,"Sunday 9:00 AM - 8:00 PM, Monday 7:00 AM - 9:0...",38.8062,-77.0565,NaN,NaN,NaN,NaN,NaN
2,2,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"2361 Eisenhower Ave,",Alexandria,VA,22314,USA,NaN,NaN,...,NaN,NaN,"Sunday 9:00 AM - 8:30 PM, Monday 6:30 AM - 9:0...",38.8012,-77.0691,NaN,NaN,NaN,NaN,NaN
3,3,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"320 King Street, 1st Floor",Alexandria,VA,22314,USA,NaN,NaN,...,NaN,NaN,"Sunday 9:00 AM - 8:00 PM, Monday 7:00 AM - 9:0...",38.8045,-77.0433,NaN,NaN,NaN,NaN,NaN
4,4,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"5836 N. Kings Hwy, Suite A, Huntington Station",Alexandria,VA,22303,USA,NaN,NaN,...,NaN,NaN,"Sunday 9:00 AM - 9:00 PM, Monday 7:00 AM - 10:...",38.7903,-77.0769,NaN,NaN,NaN,NaN,NaN